{
  env: {
    env_type: gym_minigrid,
    env_task: MiniGrid-Dynamic-Obstacles,
    grid_size: 8,
    action_size: 3,
    rgb_image: true,
    tile_size: 4,
    video_path: outputs/video/
  },

  state_distance_encoder: {
    state_encoder_type: simple_cnn,
    n_channels: [32, 64, 64],
    kernel_sizes: [4, 4, 3],
    strides: [4, 2, 1],
    hidden_layers_sizes: [32]
  },

  state_distance_network = {
    hidden_size: 128
  },

  state_distance_training: {
    device: "cuda:0"
    n_episodes: 1000,
    n_epochs: 5,
    verbose: 100,
  },

  seed: 42,

  outputs: {
    state_distance_network_path: outputs/models/state_distance_encoder.p,
  }
}
