{
  env: {
    env_type: gym_minigrid,
    env_task: MiniGrid-Empty,
    grid_size: 8,
    action_size: 3,
    rgb_image: f,
    tile_size: 8,
    video_path: outputs/video/
  },

  worker: {
    state_encoder_type: simple_cnn,
    n_channels: [6, 16],
    kernel_sizes: [8, 8],
    max_pools: [8, 2],
    head: {
        hidden_size: 64
    }
  },

  master: {
    state_encoder_type: simple_cnn,
    n_channels: [6, 16],
    kernel_sizes: [8, 8],
    max_pools: [8, 2],
  }

  agent: {
    algorithm: DQN,
    device: "cuda:0",
    batch_size: 128,
    update_step: 4,
    buffer_size: 100000,
    learning_rate: 0.001,
    gamma: 0.9,
    eps_start: 1,
    eps_end: 0.1,
    eps_decay: 0.995,
    tau: 0.001
  },

  training: {
    reward: explicit_pos_reward
    n_episodes: 1000,
    verbose: 100
  },

  seed: 42,

  outputs: {
    save_example: true,
    path: outputs/models/dqn_rgb_simple_cnn.p,
  }
}
