{
  env: {
    env_type: gym_minigrid,
    env_task: MiniGrid-Empty,
    grid_size: 8,
    action_size: 3,
    rgb_image: true,
    tile_size: 4,
    video_path: outputs/video/
  },

  worker: {
    state_encoder_type: simple_cnn,
    n_channels: [6, 16],
    kernel_sizes: [4, 3],
    max_pools: [4, 1],
    head: {
        hidden_size: 64
    }
  },

  master: {
    state_encoder_type: simple_cnn,
    n_channels: [6, 16],
    kernel_sizes: [4, 3],
    max_pools: [4, 1],
  }

  agent: {
    algorithm: DQN,
    device: "cuda:0",
    batch_size: 128,
    update_step: 4,
    buffer_size: 10000,
    learning_rate: 0.001,
    gamma: 0.9,
    eps_start: 1,
    eps_end: 0.1,
    eps_decay: 0.999,
    tau: 0.001
  },

  training: {
    reward: expected_steps_amount,
    n_episodes: 2700,
    verbose: 100
  },

  expected_steps_params: {
    device: "cuda:0",
    model: {
      input_grid_size: 32,
      n_channels: [6, 16],
      kernel_sizes: [4, 3],
      max_pools: [4, 1],
      head: {
        hidden_size: 64
      }
    }
    batch_size: 100,
    buffer_size: 10000,
    warm_up: 8000,
    warm_up_max_steps: 40,
    learning_rate: 0.005,
    epochs: 4
  }

  seed: 42,

  outputs: {
    save_example: true,
    path: outputs/models/dqn_draft.p,
  }
}
